<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Developers</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/developers.css')}}">
    </head>
    <body>
        <header>
		<img class="logo" src="{{ url_for('static', filename='images/devXdev_black.png')}}" alt="logo">
		<nav>
			<ul class="nav__links">
				<li><a class= "presentation" href="{{ url_for('presentation') }}">Presentation</a></li>
				<li><a class= "devs" href="#">Developers</a></li>
				<li><a class= "mystats" href="{{ url_for('mystats') }}">My stats</a></li>
			</ul>
		</nav>
		<a class="connexion" href="#"><button>Connect GitHub</button></a>
        </header>

        <div class="body">
            <section class="leftSection">
                <div class="filterby">
                    <form id="dbInfos" action="http://localhost:5000/developers" method="POST">
                        
                        <button name="btn" value="All" type="submit" >All</button>
                        <hr>
                        <form action="">
                            <p>Filter By:</p>
                            <select name="prog_lang" id="">
                                <option class="firstelem" value="">Programming Languages</option>
                                <option value="C">C</option>
                                <option value="Dart">Dart</option>
                                <option value="Ruby">Ruby</option>
                            </select>
                            <select name="coding frequency" id="">
                                <option class="firstelem" value="">Coding frequency</option>
                                <option value="Low">Low</option>
                                <option value="Low">Medium</option>
                                <option value="Low">High</option>
                            </select>
                            <select name="Country" id="">
                                <option class="firstelem" value="">Country</option>
                                <option value="Ben">Benin</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Rwanda">Rwanda</option>
                            </select>
                            <select name="Languages" id="">
                                <option class="firstelem" value="">Language</option>
                                <option value="French">French</option>
                                <option value="English">English</option>
                                <option value="Deutch">Deutch</option>
                            </select>
                                
                            <button name="btn" value="Refresh" type="submit" >Refresh</button>
                        </form>
                    </form>
                </div>
            </section>
    
            <section class="rightSection">
                <p class="total-p">
                    Total: {{ total }} developers
                </p>

                {% for user_datas in all_users_datas %}
                <div class="rightCardProfiles">
    
                    <img src="{{ user_datas.profile_pic }}" alt="profile picture" width="100" height="100">
    
                    <div class="userInformations">
                            <p>@{{ user_datas.login }}</p>
                             <a href="{{ user_datas.html_url }}">{{ user_datas.html_url }}</a>
                    </div>
                    
                    <div class="programmingLanguages">
                        <p>
                            {{ ', '.join(user_datas['top_languages'].keys()) }}
                        </p>
                        <p>
                            {{ user_datas.activity_count }} push | pull | create
                        </p>
                        <p>Benin, French</p>
                    </div>
                    <form id="dbInfos" action="http://localhost:5000/profile/{{ user_datas.login }}" method="POST">
                        <button name="btn" value="Profile" type="submit" class="submitButton">Profile</button>
                    </form>
                </div>   
                {% endfor %}
    
            </section>
    
        </div>

        <footer>
            <p class="footer">Made with 🖤 by <a class="githublink" href="https://github.com/Rophpad">Rophen PADONOU</a></p>
        </footer>
    </body>
</html>