<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Developers</title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/developers.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    </head>
    <body>
        <header>
		<img class="logo" src="{{ url_for('static', filename='images/devXdev_black.png')}}" alt="logo">
		<nav>
			<ul class="nav__links">
				<li><a class= "presentation" href="{{ url_for('presentation') }}">Presentation</a></li>
				<li><a class= "devs" href="#">Developers</a></li>
				<li><a class= "mystats" href="{{ url_for('mystats') }}">My stats</a></li>
			</ul>
		</nav>
		<a class="connexion" href="#"><button>Connect GitHub</button></a>
        </header>

        <div class="body">
            <section class="leftSection">
                <div class="filterby">
                    <form id="dbInfos" action="http://localhost:5000/developers" method="POST">
                        
                        <button name="btn" value="All" type="submit" >All</button>
                        <hr>
                        <form action="">
                            <p>Filter By:</p>
                            {# filter_options =  [prog_langs, code_freq, countries] #}
                            <select name="prog_lang" id="">
                                {% set options = filter_options[0] %}
                                {% set firstelem = ['Programming Languages', 'Coding frequency', 'Country'] %}
                                {% for option in options %}
                                    {% if option in firstelem %}
                                        <option class="firstelem" value="">{{ option }}</option>
                                    {% else %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select name="coding_frequency" id="">
                                {% set options = filter_options[1] %}
                                {% set firstelem = ['Programming Languages', 'Coding frequency', 'Country'] %}
                                {% for option in options %}
                                    {% if option in firstelem %}
                                        <option class="firstelem" value="">{{ option }}</option>
                                    {% else %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select name="Country" id="">
                                {% set options = filter_options[2] %}
                                {% set firstelem = ['Programming Languages', 'Coding frequency', 'Country'] %}
                                {% for option in options %}
                                    {% if option in firstelem %}
                                        <option class="firstelem" value="">{{ option }}</option>
                                    {% else %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select name="Languages" id="">
                                <option class="firstelem" value="">Language</option>
                                <!--
                                <option value="French">French</option>
                                <option value="Deutch">Deutch</option>
                                -->
                                <option value="English">English</option>
                            </select>
                            {#
                            {% set message = get_flashed_messages()[0] %} # it was a comment
                            {% for message in get_flashed_messages() %}
                                <p style="margin-bottom: -4px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    {{ message }}
                                </p> 
                            {% endfor %}  
                            #}
                            <button name="btn" value="Refresh" type="submit" >Refresh</button>
                        </form>
                    </form>
                </div>
            </section>
    
            <section class="rightSection">
                <div class="rightCardProfiles">
                    <p class="no_stats">No data</p>
                </div>
    
            </section>
    
        </div>

        <footer>
            <p class="footer">Made with 🖤 by <a class="githublink" href="https://github.com/Rophpad">Rophen PADONOU</a></p>
        </footer>
    </body>
</html>