<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Presentation</title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/presentation.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    </head>
    <body>
        <header>
		<img class="logo" src="{{ url_for('static', filename='images/devXdev_black.png')}}" alt="logo">
		<nav>
			<ul class="nav__links">
				<li><a class= "presentation" href="#">Presentation</a></li>
				<li><a class= "devs" href="{{ url_for('developers') }}">Developers</a></li>
				<li><a class= "mystats" href="{{ url_for('mystats') }}">My stats</a></li>
			</ul>
		</nav>
		<a class="connexion" href="#"><button>Connect GitHub</button></a>
        </header>

        <div class="content">
            <img class="one" src="{{ url_for('static', filename='images/presentation_image.png')}}" alt="Collaboration image">
            <h4>The place to get your <span>team partner.</span></h4>
            <p class="p1">
                <strong>devXdev</strong> is a platform where you can find the peer developer
                you need for your group project. It’s used by connecting user github account
                to retrieve information about his conding language, coding frequency and also 
                user IP address to get his localisation and language he speaks
            </p>
            
            <div class="demo">
                <img class="one" src="{{ url_for('static', filename='images/devs.png')}}" alt="demonstration Image">
            </div>

            <h4>Discover the features</h4>
            <p class="p2">
                devXdev offers three mains features: get some informations
                about your github, search partner filtered by your criterias
                and contact them
            </p>
            <hr>
            <div class="features">
                <div class="f1">
                    <img src="{{ url_for('static', filename='images/Find_devs.png') }}" alt="Find devs">
                    <h5>Find devs</h5>
                    <hr>
                    <p>
                        With devXdev you can find a rich diversity of developers for any project you have.
                    </p>
                </div>
                <div class="f2">
                    <img src="{{ url_for('static', filename='images/contact_devs.png') }}" alt="Contact devs">
                    <h5>Contact devs</h5>
                    <hr>
                    <p>With a simple click you can choose and contact any developers.</p>
                </div>
                <div class="f3">
                    <img src="{{ url_for('static', filename='images/Github_stats.png') }}" alt="Github Stats">
                    <h5>GitHub Stats</h5>
                    <hr>
                    <p>
                        Get useful Statistics about your GitHub account or for a friend or any developers GitHub.
                    </p>
                </div>
            </div>
            <div class="ghlink">
                <a href="https://github.com/Rophpad">See the project's code source</a>
                <img src="{{ url_for('static', filename='images/arrow.png')}}" alt="">
            </div>

            <section class="searchBar">
                <form id="username-form" action="http://localhost:5000/mystats" method="POST">
                    <input class="input " type="text" name="username" placeholder="Add your github username">
                    <button type="submit" >Pull stats</button>
                </form>
            </section>
            
        </div>

        <footer>
            <p class="footer">Made with 🖤 by <a class="githublink" href="https://github.com/Rophpad">Rophen PADONOU</a></p>
        </footer>
    </body>
</html>