@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

li, a {
    font-family: "Inter", sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.devs {
    font-weight: 550;
    color: #000000;
}

.presentation, .mystats {
    font-weight: 500;
    color: #bdbdbd;
}

footer {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #817878;
}

.githublink {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #817878;
}

button {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 64px;
    background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
    bottom: 0;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #000000;
}

button {
	
	width: 184px;
	height: 40px;
    padding: 8px 20px;
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #666666;
}

footer {
	height: 60px;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 25%);
}

.dev_list
{
	height: max-content;
	display: flex;
	align-items: center;
	margin: 32px 0 128px 0;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
}

.dev_card:hover
{
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 25%);
}

.dev_card
{
	width: 702px;
	padding: 32px 32px;
	border-radius: 16px;
	transition: box-shadow ease-in-out 300ms;
	background: rgb(217, 217, 217, 50%);
}

.dev_card:hover
{
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 25%);
}

.dev_card *
{
	background-color: transparent;
}
