@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Poppins, sans-serif;
}

body
{
	position: relative;
	padding-bottom: 50px;
}

li, a {
    font-family: "Inter", sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.presentation {
    font-weight: 550;
    color: blueviolet;
}

.devs, .mystats {
    font-weight: 500;
    color: #bdbdbd;
}

footer {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #817878;
}

.githublink {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #817878;
}

button {
    font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 64px;
    background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
    bottom: 0;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: blueviolet;
}

button {
	
	width: 184px;
	height: 40px;
    padding: 8px 20px;
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #666666;
}

footer {
	height: 60px;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 25%);
}

div {
	margin: 50px 50px 0 50px;
	padding: 10px;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

span {
	background-color: yellow;
	border-radius: 4px;
	padding: 12px;
}

.p1 {
	margin-top: 32px;
	
	border: 1px solid #bebebe;
	background-color: white;
	border-radius: 4px;
	padding: 36px;
}

.p1:hover
{
	box-shadow: 4px 4px 4px 4px #eeeeee;
	transition: box-shadow ease-in-out 0.3s;
}

.one {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.demo img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -80px;

	border: 1px solid #bebebe;
	border-radius: 8px;
	height: 400px;
	width: auto;
	margin-top: -10px;
	margin-bottom: 4px;
}

.demo img:hover
{
	box-shadow: 4px 4px 4px 4px #eeeeee;
	transition: box-shadow ease-in-out 0.3s;
}

h4 {
	text-align: center;
	font-size: 20px;
	margin: 15px;
}

.p2 {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
}

hr {
	color: #000000;
	background-color: #000000;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.features {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}

.all-features
{
	border: 1px solid #bebebe;
	background-color: white;
	border-radius: 4px;
	padding: 36px;
	height: max-content;
}

.all-features:hover
{
	box-shadow: 4px 4px 4px 4px #eeeeee;
	transition: box-shadow ease-in-out 0.3s;
}

.features p {
	font-size: 14px;
	margin-top: 10px;
}

.p1, .p2 {
	line-height: 18	px;
	letter-spacing: 0.2px;
	text-align: center;
}

.f {
	width: 800px;
	text-align: center;
	padding: 0px;

	border: 1px solid #bebebe;
	background-color: white;
	border-radius: 4px;
	padding: 16px;
	height: max-content;
	margin: 8px;
}

.f:hover
{
	box-shadow: 4px 4px 4px 4px #eeeeee;
	transition: box-shadow ease-in-out 0.3s;
}

h5 {
	margin-bottom: 10px;
}

.ghlink {
	font-size: 20px;
	text-decoration: none;
	margin-left: 250px;
	margin-bottom: 50px;
	margin-right: -50px;

	border: 1px solid #bebebe;
	background-color: white;
	border-radius: 4px;
	padding: 8px;
	height: max-content;
	width: max-content;
}

.ghlink:hover
{
	box-shadow: 4px 4px 8px 10px #eeeeee;
	transition: box-shadow ease-in-out 0.3s;
}

#src-code
{
	width: max-content;
}

.ghlink a{
	color: blueviolet;
	background-color: transparent;
}

.ghlink:link {
	color: #FFFFFF;
}

.ghlink img {
	margin-top: 0px;
	margin-left: 6px;
	margin-bottom: 2px;
	background-color: transparent;
}

.searchBar
{
	height: 96px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -50px;
}

.searchBar input
{
	height: 40px;
	width: 300px;
	padding: 12px;
	outline: none;
	border: 2px solid rgba(0, 0, 0, 40%);
	border-radius: 8px;
}
